:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  /* max-width: auto; */
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

button {
  height: 35px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: linear-gradient(to left, #004ff9c7, #fff94cab, #004ff9c7);
  border-radius: 4px;
  box-shadow: -4px 6px 4px #bcbba3;
  border: none;
  cursor: pointer;
  background-size: 200%;
  transition: 500ms;
}
button:hover {
  background-position: right;
}

button:active {
  box-shadow: 0px 2px #bcbba3;
  transform: translate(0, 2px);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  min-height: 100vh;
}
.modal-open {
  background-color: black;
}
